<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conexion" connectionString="server=DESKTOP-1KUO002\MSSQLESCRITORIO;integrated security=SSPI;database=BdPronasurIII"/>
 <!--<add name="conexion" connectionString="workstation id=BdPronasurIII.mssql.somee.com;packet size=4096;user id=porx154_SQLLogin_1;pwd=48z3isb7ay;data source=BdPronasurIII.mssql.somee.com;persist security info=False;initial catalog=BdPronasurIII"/>-->
  <!--<add name ="conexion" connectionString="workstation id=BdPronaSURX.mssql.somee.com;packet size=4096;user id=zero154_SQLLogin_1;pwd=iivyqve2e4;data source=BdPronaSURX.mssql.somee.com;persist security info=False;initial catalog=BdPronaSURX"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

</configuration>